INFLUXDB_USERNAME=your_username
INFLUXDB_PASSWORD=your_password
INFLUXDB_TOKEN=your_influxdb_token
INFLUXDB_ORG=your_org
INFLUXDB_BUCKET=your_bucket
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=your_password